html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

.layui-main a img {
    margin-top: 50px;
}

.login_RegBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}

.login_RegBox .title {
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}

.layui-form {
    padding: 0px 20px;
}

.layui-form-item {
    position: relative;
    font-size: 13px;
    color: #ccc;
}

.layui-form-item i {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-form-item button {
    font-size: 13px;
    /* color: #000; */
}

.layui-input {
    padding-left: 32px;
}

.links {
    float: right;
}

.links a {
    color: #31BDEC;
}

.regbox {
    display: none;
}